<body>
<br><br><br>
<div class="container">

  <div class="jumbotron">

         <h1>Internal Server Error <small><font face="Tahoma" color="red">Error 500</font></small></h1>

         <br />

         <p><b>Oops! Something went wrong..</b></p>

         

         <p>The server encountered an internal error or misconfiguration and was unable to complete your request.Please feel free to contact us and inform of the time of the error occured,and anything you might have done that may have caused the error</p>

         <a href="/empdash" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> Take Me Home</a>

       </div>

       </div>

</body>
